@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #fee685;
  --color-secondary: #6d6875;
  --color-background: #6d6875;
  --color-accent: #ffcdb2;
  --color-btnColor: oklch(62.7% 0.194 149.214);
}

@layer components {
  .btn-small {
    @apply bg-primary hover:bg-primary/90 transition-colors px-6 py-2 md:px-3 lg:px-6 rounded-full  text-black font-medium;
  }

  .btn-medium {
    @apply bg-primary hover:bg-primary/90 transition-colors px-6 py-3 md:px-3 lg:px-6 rounded-full  text-black font-medium;
  }

  .btn-large {
    @apply bg-primary hover:bg-primary/90 transition-colors w-full py-4 rounded-full  text-black font-medium;
  }
}

body {
  background: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100svh;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}

/* import pizzaImg from './components/Orange and White Modern Special Pizza Flyer.jpg';

<body style={{ backgroundImage: `url(${pizzaImg})` }}></body> */
